<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header class="nav-bar">I am studying Vue 💖</header>
      <a :href="url" target="_blank" class="portfolio">Please see my portfolio</a>
      <div class="container">
        <div class="item">
          <img :src="image1" :alt="description" class="socks-img"/>
          <div>
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <p v-show="onSaleGreen">onSale</p>
            <p v-if="inventoryGreen > 10">😍 You can buy right now!</p>
            <p v-else-if="inventoryGreen < 10 && inventoryGreen > 0">🙄 Almost sold out! only {{ inventory }} left!</p>
            <p v-else="inventoryGreen">😥 Out of stock</p>
            <p>What sizes we have? </p>
            <ul>
              <li v-for="size in sizes">{{ size }}</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <img :src="image2" :alt="description" class="socks-img"/>
          <div>
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <p v-show="onSaleBlue">onSale</p>
            <p v-if="inventoryBlue > 10">😍 You can buy right now!</p>
            <p v-else-if="inventoryBlue < 10 && inventoryBlue > 0">🙄 Almost sold out! only {{ inventory }} left!</p>
            <p v-else="inventoryBlue">😥 Out of stock</p>
            <p>What sizes we have? </p>
            <ul>
              <li v-for="size in sizes" >{{ size }}</li>
            </ul>
            <ul>
              <li v-for="variant in variants" :key="variant.id">{{ variant.color }}</li>
            </ul>
          </div>
        </div>
      </div>
      
      
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
