<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header class="nav-bar">I am studying Vue 💖</header>
      <div class="sub-nav">
        <a :href="url" target="_blank" class="portfolio">Please see my portfolio</a>
        <p class="cart" :src="cart">Cart {{ cart }}</p>
      </div>
      <div class="container">
        <div class="item">
          <img :src="image" :alt="description" class="socks-img"/>
          <div>
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <p v-if="inStock">We have stock</p>
            <p v-else>😥 Out of stock</p>
            <p v-show="onSale">{{ title }} onSale</p>
            <!-- <p v-if="inventory> 10">😍 You can buy right now!</p>
            <p v-else-if="inventory < 10 && inventory > 0">🙄 Almost sold out! only {{ inventory }} left!</p>
            <p v-else="inventory">😥 Out of stock</p> -->
            <div v-show="onSale">
              <p>What sizes we have? </p>
              <ul class="sizes">
                <li class="size" v-for="size in sizes">{{ size }}</li>
            </ul>
            </div>
            <p>Other colour options?</p>
            <ul>
              <li  v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)" class="color-circle" :style="{ 'background-color': variant.color}"></li>
            </ul>
            <button class="button" @click="addToCart" :disabled="!onSale" :class="{ disabledButton: !onSale}">Add to Cart</button>
            <button class="button" @click="removeFromCart" :disabled="!onSale" :class="{ disabledButton: !onSale}">Remove it</button>
          </div>
        </div>

      </div>
      
      
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
